<a href="https://colab.research.google.com/github/Anjana-JS/Practice-sessions/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
a = ["cat","dog","cow"]
for i in a:
  print ("Earth to you my sweet little "+i)

Earth to you my sweet little cat
Earth to you my sweet little dog
Earth to you my sweet little cow

In [32]:
while i == "fox":
  print (i in a)
  break
else:
  a.append("fox")
  print(a)

['cat', 'dog', 'cow', 'fox']

In [ ]:
b = 1
while b<=15:
  print (b)
  b=b+3

1
4
7
10
13

In [ ]:
b = 1
while b<=15:
  print (b*2)
  b = b+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
num = int(input("Enter a number you wish to assign the tag of odd or even "))

if num%2==1:
  print("You have proivided an odd number, mistress")
else:
  print("You have provided an even number, pretty lady")

Enter a number you wish to assign the tag of odd or even 55
You have proivided an odd number, mistress

In [ ]:
print ("Hi Arty \n I missed you a lot.")

Hi Arty
 I missed you a lot.

In [ ]:
print ("Hi Arty \nI missed you a lot. \t Would you like to hang out with me?")

Hi Arty
I missed you a lot. 	 Would you like to hang out with me?

In [ ]:
print ("Hi Arty\nI missed you a lot.\tWould you like to hang out with me?")

Hi Arty
I missed you a lot.	Would you like to hang out with me?

In [ ]:
print ("Hi Arty\nI missed you a lot.\t Um... \t\tWould you like to hang out with me?")

Hi Arty
I missed you a lot.	 Um... 		Would you like to hang out with me?

In [40]:
print("Python\n"*4)

Python
Python
Python
Python

In [ ]:
c = "Get me a tandoori chicken burger, mate."
print(c[1:4:2])

e

In [ ]:
c[2:24:-2]

''

In [ ]:
len(c)

39

In [ ]:
c[2:24]

't me a tandoori chicke'

In [ ]:
print(c[0],"-",c[5])

G - e

In [ ]:
c[-38]

'e'

In [ ]:
print(c[-1:-16:-2])

.tm,erbn

In [ ]:
c.lower()

'get me a tandoori chicken burger, mate.'

In [ ]:
c.upper()

'GET ME A TANDOORI CHICKEN BURGER, MATE.'

In [ ]:
c.capitalize()

'Get me a tandoori chicken burger, mate.'

In [ ]:
type(c)

str

In [ ]:
bool(2)

True

In [ ]:
print(len(c[:4]))

4

In [ ]:
print((c[:4])*2)

Get Get

In [ ]:
x = int(input("Write down a number: "))
if x==2:
  print('sure')
elif x==4:
  print('no')
else:
  print("I wanna be with Lithi")

Write down a number: 4
no

In [ ]:
c.count("t")

3

In [ ]:
c.find("t")

2

In [ ]:
c.replace("tandoori","teriyaki")

'Get me a teriyaki chicken burger, mate.'

In [ ]:
c

'Get me a tandoori chicken burger, mate.'

In [ ]:
e = a.copy()

In [ ]:
e

['cat', 'dog', 'cow']

In [ ]:
for i in a:
  for j in a:
    print(i,j)

cat cat
cat dog
cat cow
dog cat
dog dog
dog cow
cow cat
cow dog
cow cow

In [ ]:
#Table of a given value
t = 1
n = int(input('Enter the number whose multiplication table you seek: '))
for t in range(1,10*n+1):
  print(n,"X",t,"=",n*t)

Enter the number whose multiplication table you seek: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38
2 X 20 = 40

In [ ]:
def largest(arr, n):

    # Initialize maximum element
    mx = arr[0]

    # Traverse array elements from second
    # and compare every element with
    # current max
    for i in range(1, n):
        if arr[i] > mx:
            mx = arr[i]

    return mx
arr = [10, 324, 45, 90, 9808]
n = len(arr)

    # Calculating length of an array
Ans = largest(arr, n)

    # display max
print(Ans)

9808

In [ ]:
#Finding maximum element of array
n=int(input("Length of array: "))
temp=0
a=list(map(int,input("Type the elements of array with single space in between each element : ").split()))
for i in range(n):
    for j in range(i+1,n):
        if a[i]>a[j]:
            temp=a[i]
            a[i]=a[j]
            a[j]=temp
print(a[j])

Length of array: 3
Type the elements of array with single space in between each element : 2 5 6
6

In [ ]:
#Concatenation of array
N = int(input("Enter length of array: "))
array = list(map(int, input("Enter your array elements separated by single space: ").split()))
concat = array+array
print(*concat)

Enter length of array: 4
Enter your array elements separated by single space: 2 56 66 7
2 56 66 7 2 56 66 7

In [ ]:
#Print all the unique elements in list
N = int(input())
arr = list(map(int, input().split()))

# Create an empty list to store unique elements in order
unique_list = []

# Iterate through the array
for num in arr:
    # Check if the element is already in the list
    if num not in unique_list:
        # If not, add it to the list
        unique_list.append(num)

# Print the unique elements in order
print(*unique_list)

4
2 3 3 5
2 3 5

In [ ]:
#Print elements that appear only once in the list (unique array problem of second kind) as well as the duplicate elements only
N = int(input())
arr = list(map(int, input().split()))

# Create an empty list to store unique elements in the order they appear
unique_list = []

# Create a set to store elements that occur more than once
duplicates = set()

# Iterate through the array
for num in arr:
    if num in duplicates:
        continue
    if num in unique_list:
        unique_list.remove(num)
        duplicates.add(num)
    else:
        unique_list.append(num)

# Print the unique elements in the order they appear
print(*unique_list)
print(*duplicates)

5
7 7 89 2 89
2
89 7

In [ ]:
#reversing
N = int(input())
arr = list(map(int,input().split()))

ar = arr[::-1]
print(*ar)

4
2 3 4 5
5 4 3 2

In [ ]:
#sum of odd numbers
N = int(input())
arr = list(map(int,input().split()))
s = 0
for i in arr:
    if i % 2 != 0:
        s = s+i
print(s)

4
2 3 7 8
10

In [ ]:
N = int(input())
arr = list(map(int,input().split()))
count = 0
i_count = 0
for i in arr:
    if i == 1:
        count = count+1
        if count>i_count:
            i_count = count
    else:
        count = 0
print(i_count)

5
1 0 1 1 0
2

In [ ]:
import math
import os
import random
import re
import sys

#
# Complete the 'diagonalDifference' function below.
#
# The function is expected to return an INTEGER.
# The function accepts 2D_INTEGER_ARRAY arr as parameter.
#

def diagonalDifference(arr):
    p = 0
    s = 0
    for i in range(0,len(arr)):
        p = p+arr[i][i]
    for j in range (0,len(arr)):
        s = s+arr[j][len(arr)-1-j]
    return abs(p-s)


n = int(input().strip())

arr = []

for _ in range(n):
    arr.append(list(map(int, input().rstrip().split())))

result = diagonalDifference(arr)
print(result)

4
1 2 3 4
1 2 3 4
2 3 4 5
4 5 6 8
1

In [ ]:
n = int(input().strip())

arr = []

for _ in range(n):
    arr.append(list(map(int, input().rstrip().split())))
p = 0
s = 0
for i in range(0,len(arr)):
    p = p+arr[i][i]
for j in range (0,len(arr)):
    s = s+arr[j][len(arr)-1-j]
print(s)
arr[j][len(arr)-1-j]

2
1 2
1 2
3

1

In [ ]:
#Read the input
N, M = map(int, input("Enter number of rows and columns of the matrices ").split())

# Read matrix A
matrix_A = [list(map(int, input().split())) for _ in range(N)]

# Read matrix B
matrix_B = [list(map(int, input().split())) for _ in range(N)]

# Calculate the sum of the matrices
result = [[matrix_A[i][j] + matrix_B[i][j] for j in range(M)] for i in range(N)]

# Print the result
for row in result:
    print("Here's the sums of the matrices row by row",*row)

Enter number of rows and columns of the matrices 2 2
2 3
2 4
2 34
2 4
Here's the sums of the matrices row by row 4 37
Here's the sums of the matrices row by row 4 8

In [ ]:
r  =int(input("enter no. of rows"))
c  =int(input("enter no. of columns"))

m = []
for i in range(r):
  l=[]
  for j in range(c):
    v = int(input())
    l.append(v)
  m.append(l)
print(m)
print(m[1][1])

enter no. of rows2
enter no. of columns2
1
2
3
4
[[1, 2], [3, 4]]
4

In [1]:
# Get input for matrix size
N, M = map(int, input().split())

# Initialize a variable to store the sum of each row
row_sums = []

# Iterate over each row
for i in range(N):
    # Get the row elements as input and calculate the sum
    row = list(map(int, input().split()))
    row_sum = sum(row)

    # Append the row sum to the list
    row_sums.append(row_sum)

# Print the row sums, separated by a newline
for row_sum in row_sums:
    print(row_sum)

2 3
5 6 7
7 8 9
18
24

In [42]:
# Get input for matrix size
N, M = map(int, input().split())

# Initialize a list to store the column sums
col_sums = [0] * M

# Iterate over each row
for i in range(N):
    # Get the row elements as input
    row = list(map(int, input().split()))

    # Calculate the column sums
    for j in range(M):
        col_sums[j] += row[j]

# Print the column sums, separated by a newline
for col_sum in col_sums:
    print(col_sum)

2 2
4 5
7 9
11
14

In [48]:
#Sum of digits
n = int(input("Enter a number: "))
sum_of_digits = sum(int(d) for d in str(n))
print(f"Sum of all digits of the number you entered ({n}) is {sum_of_digits}.")

Enter a number: 3742189310
Sum of all digits of the number you entered (3742189310) is 38.

In [69]:
#Diagonal interchange
N = int(input())
# Initialize a 2D list to store the matrix elements
matrix = []
for _ in range(N):
    row = list(map(int, input().split()))
    matrix.append(row)

# Interchange the diagonal elements
for i in range(N):
    temp = matrix[i][i]
    matrix[i][i] = matrix[i][N-i-1]
    matrix[i][N-i-1] = temp

# Print the resultant matrix
for row in matrix:
    print(" ".join(map(str, row)))

2
3 4
5 6
4 3
6 5

In [50]:
#Interchange diagonal elements of a matrix
# Get input for matrix size
N = int(input())

# Initialize a 2D list to store the matrix elements
matrix = [list(map(int, input().split())) for _ in range(N)]

# Interchange the diagonal elements
for i in range(N):
    matrix[i][i], matrix[i][N-i-1] = matrix[i][N-i-1], matrix[i][i]

# Print the resultant matrix
for row in matrix:
    print(*row)

2
4 5
6 7
5 4
7 6

In [51]:
#Transpose of a matrix
N, M = map(int, input().split())
matrix = []
for _ in range(N):
    row = list(map(int, input().split()))
    matrix.append(row)

# Print the transpose of the matrix
for j in range(M):
    for i in range(N):
        print(matrix[i][j], end=" ")
    print()

2 2
3 4
5 6
3 5
4 6

In [52]:
#Prime or not

# Get input for the number
N = int(input())

# Check if the number is prime
is_prime = True
if N <= 1:
    is_prime = False
else:
    for i in range(2, int(N**0.5) + 1):
        if N % i == 0:
            is_prime = False
            break

# Print the result
if is_prime:
    print("Yes")
else:
    print("No")

23
Yes

In [53]:
import math

# Get input for the number
N = int(input())

# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        if n % i == 0:
            return False
    return True

# Check if the number is prime
if is_prime(N):
    print("Yes")
else:
    print("No")

33
No

In [60]:
#reverse a number

N = int(input())
rev_no = 0
while(N>0):
    remainder = N%10
    rev_no = (rev_no  * 10) + remainder
    N = N//10
print(rev_no)

20
2

In [62]:
N =  input()
print(str(N)[::-1])

-ab230
032ba-

In [63]:
#natural numbers sum
# Sum of natural numbers up to num

num = int(input())

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

45
The sum is 1035

In [67]:
#sum of squares of first n natural numbers
sm = 0
n = int(input())
for i in range(1, n+1):
    sm = sm + (i * i)

print(sm)

45
31395

In [68]:
#Factorial problem
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120